[Unit]
Description=Set random wallpapers for both the Desktop and the LockScreen
After=network.target

[Service]
ExecStart=/usr/bin/env bash /home/jj/Documents/wallpapers/set-randomwallpapers.sh
Type=oneshot
